async-generator>=1.10
Authlib>=0.15.3
boto3>=1.17.77
botocore>=1.20.77
certifi>=2020.12.5
cffi>=1.14.5
click>=7.1.2
contextvars>=2.4
cryptography>=3.4.7
dnspython>=2.1.0
email-validator>=1.1.2
fastapi>=0.65.1
future>=0.18.2
h11>=0.12.0
httpcore>=0.13.3
httpx>=0.18.1
idna>=3.1
immutables>=0.15
importlib-metadata>=4.0.1
itsdangerous>=2.0.1
Jinja2>=3.0.1
jmespath>=0.10.0
joblib>=1.0.1
livereload>=2.6.3
lunr>=0.5.8
Markdown>=3.3.4
MarkupSafe>=2.0.1
mkdocs>=1.1.2
mkdocs-material>=7.1.5
mkdocs-material-extensions>=1.0.1
motor>=2.4.0
nltk>=3.6.2
orjson>=3.5.2
pycparser>=2.20
pydantic>=1.8.2
Pygments>=2.9.0
PyJWT>=2.1.0
pymdown-extensions>=8.2
pymongo>=3.11.4
python-dateutil>=2.8.1
python-decouple>=3.4
python-dotenv>=0.17.1
python-multipart>=0.0.5
PyYAML>=5.4.1
regex>=2021.4.4
rfc3986>=1.5.0
s3transfer>=0.4.2
six>=1.16.0
sniffio>=1.2.0
starlette>=0.14.2
tornado>=6.1
tqdm>=4.60.0
typing-extensions>=3.10.0.0
urllib3>=1.26.4
uvicorn>=0.13.4
zipp>=3.4.1
